/* This file is for your main application css. */
/*reset*/
body, h1, h2, h3, h4, p, a, ul, li, input, button {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: black;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border-style: none;
  border-image: none;
  background-color: #ddd;
}
.alert {
  text-align: center;
}
.alert-danger {
  color: red;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}
ul.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
ul.nav li {
  padding: 0 3px;
}
form.link>a {
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 3px;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > section {
  height: calc(100vh - 40px);
  width: 100%;
}

/*login*/
.login, .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login h1, .signup h1 {
  margin-bottom: 5px;
}
.login form, .signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .form-group, .signup .form-group {
  margin: 5px 0;
}
.login button, .signup button {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

/*chat*/
.chat {
  display: flex;
  flex-direction: row;
}
#chat-input, #room-input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 3px;
  margin-top: 5px;
  width: 100%;
}

/*room list*/
aside {
  width: 220px;
  height: 100%;
}
aside > h3 {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-top: 5px;
}
#room-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
}
#room-list>li {
  padding-left: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

/*chat list*/
section.chat-pane {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  flex-grow: 1;
}
.chat-header {
  height: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  justify-content: center;
}
.room-facts {
  display: flex;
  font-size: 13px;
  font-style: italic;
}
.room-facts > li {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #999;
}
.room-facts > li:last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
#chat-list {
  width: 100%;
  /*100% - #chat-input - #chat-room-title*/
  height: calc(100% - 40px - 40px);
  overflow-y: auto;
}
#chat-list li {
  box-sizing: border-box;
  padding: 7px 15px;
  position: relative;
}
#chat-list li:nth-child(odd) {
  /*background-color: #ddd;
  border-left: 2px solid #ccc;*/
}
#chat-list li:nth-child(even) {
  /*border-left: 2px solid #9898dc;*/
}
#chat-list prof {
  background-image: url(../images/asdfqwer_color.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
}
#chat-list name {
  font-weight: 400;
  margin-left: 45px;
}
#chat-list time {
  font-size: 12px;
}
#chat-list msg {
  display: block;
  margin-left: 45px;
}

/*media queries*/
/*< 700px wide:*/
/*header>h1 {
  font-size: 16px;
}*/
