<section class="chat">
  <aside>
    <input id='room-input' placeholder='change room...' value='lobby' />
    <ul id='room-list'>
    </ul>
  </aside>

  <section class="chat-pane">
    <ul id='chat-list'>
    </ul>
    <input id='chat-input' placeholder='chat...' />
  </section>
</section>
