<label>chat room:
  <input id='room-input' placeholder='room name' value='lobby' />
</label>

<aside>
  <ul id='room-list'>
  </ul>
</aside>

<section>
  <ul id='chat-list'>
  </ul>
  <label>chat message:
    <input id='chat-input' placeholder='chat...' />
  </label>
</section>
